/* Search Container */

#search-container{
    background-image: url("../img/background_events_list.jpg");
    background-size: cover;
    background-position: center;
    padding: 150px 0 150px 0;
    text-align: center;
}

#search-container h1{
    width: fit-content;
    color: white;
    margin: 0px auto 30px auto;
    font-weight: 900;
    text-shadow: black .1em .1em .1em;
}

#search-container form{
    width: 300px;
    margin: 0 auto;
}

.events-title{
    padding: 30px 0px 0px 50px;
}


/* Events list */
#events-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
    gap: 10px;
    padding: 50px;
}

#events-container h2{
    margin-bottom: 10px;    
}

#events-container .subtitle{   
    margin-bottom: 30px;
}

#events-container .card{
    border: 1px solid #444;
    border-radius: 10px;
    background-color: #111;
}

#events-container .card{
    flex: 1 1 24%;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 0;
    margin: 30px .5% .5% .5%;
    background-color: #111;
}

.card .card-link{
    margin: 0px 10px;
    transform: translate(0px, -25px);
    transition: transform .3s;
}

.card .card-link:hover{
    transform: translate(0px, -35px);
}

.card .card-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    background-position: center;
    border: 1px solid #333;
}

.card .card-date{
    font-size: 12px;
    color: #CCC;
}

.card .card-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card .participants{
    display:flex;
    justify-content: space-between;
}

.card .participants .joined {
    color: #CCC;
}

.card .card-body{
    border-radius: 0 0 10px 10px;
}

.card .card-participants{
    font-size: 14px;
    color: #757575;
}