/* Event show page */

#image-container{
    text-align: center;
}

#image-container,
#info-container{
    margin-top: 30px;
}

#image-container img{
    border-radius: 10px;
}

#image-container h1{
    font-size: 36px;
    font-weight: 900;
}

#image-container p{
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3,
#description-container h3{
    font-size: 20px;
    font-weight: bold;
}

#info-container i{
    font-size: 20px;
    color: #55f;
    margin-right: 5px;
}

#info-container #event-submit{
    margin: 20px 0;
}

#items-list{
    list-style: none;
    padding-left: 0;
}

#items-lits li{
    display: flex;
}

#description-container{
    margin-top: 30px;
}